@import url(style.css);

body{
    margin: 10px;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--claro);
}
.contenido{
    display: flex;
    flex-direction: column;
}
.contenido__titulo{
    font-size: 64px;
}
.contenido__texto{
    font-size: 30px;
    width: 800px;
} 